{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I’m Anand Achanta, a Python enthusiast and a Computer Science Engineering (CSE)
          undergraduate at the Indian Institute of Information Technology, Guwahati. Python has been my
          programming language of choice since I embarked on my coding journey. Its
          simplicity, readability, and versatility have always fascinated me.
          Whether it’s web development, data analysis, or automation scripts,
          Python is my go-to tool.
        </p>
        <p>
          In the realm of web development, I specialize in building web applications
          using the Flask framework. Crafting seamless user experiences and robust backends
          is my forte. From REST APIs to dynamic web pages, I enjoy every aspect of web
          development. PostgreSQL is my trusted companion when it comes to databases.
          Designing efficient schemas, optimizing queries, and ensuring data integrity are
          challenges I embrace.
        </p>
        <p>
          As a CSE undergraduate, I’m constantly learning and exploring new technologies.
          Whether it’s attending workshops, participating in hackathons, or diving into
          online courses, I thrive on expanding my knowledge. Beyond code, I’m a curious
          learner, a creative coder, and an open-source advocate. Let’s connect—I’m always
          up for a chat about tech, coding, or anything under the digital sun!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
